<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- UIkit CSS-->
		<link rel="stylesheet" href="./css/uikit.css">
		<!-- UIkit JS-->
		<script src="./js/uikit.js"></script>
		<script src="./js/uikit-icons.js"></script>
		<title>Broadcast 'em</title>
		<style>
			@font-face {
				font-family: 'Source Sans Pro';
				src: local('SourceSansPro'), url('fonts/SourceSansPro-Regular.ttf') format('truetype');
			}

			body {
				font-family: 'Source Sans Pro';
			}
		</style>
	</head>

	<body>
		<header>
			<div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky uk-navbar-transparent; cls-inactive: uk-navbar-transparent uk-light; top: 200">
				<nav class="uk-navbar-container uk-background-secondary uk-padding-small" uk-navbar="">
					<div class="uk-navbar-center">
						<div class="uk-navbar-logo uk-text-large">Broadcast 'em</div>
					</div>
				</nav>
			</div>
		</header>
		<div class="uk-navbar-item">
			<ul class="uk-tab-bottom" uk-tab="animation: uk-animation-slide-bottom, uk-animation-slide-top; connect: .main" uk-switcher="">
				<li class="uk-active"><a href="#">Recieve</a></li>
				<li><a href="#">Send</a></li>
			</ul>
		</div>
		<ul class="uk-switcher main uk-align-center uk-width-1-1">
			<li>
				<div id="downloadList">
					<table class="uk-table uk-table-divider uk-visible@m">
						<% if (lines) {%>
							<tr><td colspan=2 style="width: 210px"><form action="/download/all" method="GET"><button type="submit" class="uk-button uk-button-primary uk-align-right" style="margin: 0; width: 210px" id="download-all">Download All <span uk-icon="download"></button></form></td></tr>
							<% lines.forEach(function(row){%>
								<td style="witdh: 25px; padding: 5px"><span uk-icon="icon: <%- row.icon %>;"></span>   <%- row.name %> (<%- row.size %>)</td>
								<td style="width: 155px"><div style="width: 210px"><form action="/download/single" style="width: 100%"><button type="submit" name="index" value="<%- row.index %>" id="<%- row.index %>" class="uk-button uk-button-primary uk-align-right" style="margin: 0;">Download <span uk-icon="download"></button></form></div>
								</td></tr>
							<% }) %>
						<% } else { %>
							<tr><td>No files selected to share</td></tr>
						<% } %>
					</table>
					<div class="uk-hidden@m uk-padding-small">
						<% if (lines) {%>
							<form action="/download" method="GET" id="download-all"></form>
							<div class="uk-card uk-card-primary uk-padding-small uk-flex uk-width-expand uk-margin-small" onclick="clickOn('download-all')">
								<div class="">
									<span uk-icon="icon: download">
								</div class="uk-margin-small-left">
								<div>Download All</div>
							</div>
							<% lines.forEach(function(row){%>
								<div class="uk-card uk-card-primary uk-padding-small uk-flex uk-width-expand uk-margin-small" onclick="clickOn('<%- row.index %>')">
									<div class="">
										<span uk-icon="icon: <%- row.icon %>; ratio: 2"></span>
									</div>
									<div class="uk-margin-small-left">
										<div><%- row.name %></div>
										<div>(<%- row.size %>)</div>									
									</div>
								</div>
							<% }) %>
						<% } else { %>
							<div class="uk-alert-primary uk-align-center" uk-alert>
								No files selected to share
							</div>
						<% } %>
					</div>
				</div>
			</li>
			<li>
				<div class="js-upload uk-placeholder uk-text-center" id="uploadArea">
					<span uk-icon="icon: cloud-upload"></span><span class="uk-text-middle">Send files by dropping them here or </span>
					<div uk-form-custom=""><input type="file" multiple=""><span class="uk-link">selecting them</span></div>
				</div>
				<progress class="uk-progress" id="js-progressbar" value="0" max="100" hidden=""></progress>
			</li>
		</ul>
		<script>
			
			function clickOn(x) {
				document.getElementById(x).click();
			}
		
			var bar = document.getElementById('js-progressbar');
			UIkit.upload('.js-upload', {
				url: '',
				multiple: true,
				type: 'multipart/form-data',
				beforeSend: function() {
					console.log('beforeSend', arguments);
				},
				beforeAll: function() {
					console.log('beforeAll', arguments);
				},
				load: function() {
					console.log('load', arguments);
				},
				error: function() {
					console.log('error', arguments);
				},
				complete: function() {
					console.log('complete', arguments);
				},
				loadStart: function(e) {
					console.log('loadStart', arguments);
					bar.removeAttribute('hidden');
					bar.max = e.total;
					bar.value = e.loaded;
				},
				progress: function(e) {
					console.log('progress', arguments);
					bar.max = e.total;
					bar.value = e.loaded;
				},
				loadEnd: function(e) {
					console.log('loadEnd', arguments);
					bar.max = e.total;
					bar.value = e.loaded;
				},
				completeAll: function() {
					console.log('completeAll', arguments);
					setTimeout(function() {
						bar.setAttribute('hidden', 'hidden');
					}, 1000);
					alert('Files uploaded, will be available for sharing now');
				}
			});
		</script>
	</body>
</html>